@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}
.info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toVw(500px), 1fr));
  row-gap: toVw(10px);
  .info-empty {
    text-align: left;
    font-size: toVw(20px);
  }
}
