@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}
header {
  padding: toVw(25px) 0;
  .header {
    &-navigation {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      &-home-page {
        margin-right: auto;
        cursor: pointer;
        a {
          img {
            height: toVw(50px);
            width: toVw(50px);
          }
        }
      }
      &-pages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        gap: toVw(15px);
        font-size: toVw(25px);
        a {
          cursor: pointer;
        }
      }
    }
  }
}
