@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}
main {
  .create {
    .return-create {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: toVw(70px);
      align-items: center;
      padding-bottom: toVw(25px);
      &-inputs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: toVw(70px);
      }
      &-selects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toVw(70px);
      }
    }
  }
  .filters {
    padding-bottom: toVw(25px);
    justify-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toVw(250px), 1fr));
  }
  .info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toVw(500px), 1fr));
    row-gap: toVw(10px);
    .return-info {
      max-width: toVw(500px);
      width: 100%;
      border: toVw(1px) solid #0067a4;
      border-radius: toVw(10px);
      padding: toVw(10px);
      display: grid;
      row-gap: toVw(15px);
      &-content {
        padding: toVw(10px);
        display: grid;
        gap: toVw(15px);
        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        label {
          font-size: toVw(20px);
          text-align: left;
        }
        p {
          margin-left: auto;
          font-size: toVw(20px);
        }
        div.return-info-buttons {
          display: grid;
          justify-items: center;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
    .info-empty {
      text-align: left;
      font-size: toVw(20px);
    }
    .finished {
      opacity: 0.5;
    }
    .status-sent {
      border-left: toVw(10px) solid #1e90ff;
    }

    .status-return-requested {
      border-left: toVw(10px) solid #ff8c00;
    }

    .status-to-dispose {
      border-left: toVw(10px) solid #ff6347;
    }

    .status-return-received {
      border-left: toVw(10px) solid #32cd32;
    }

    .status-return-processed {
      border-left: toVw(10px) solid #00bcd4;
    }
  }
}
