@use "./toVw.scss" as *;
.select {
  display: grid;
  justify-items: center;
  label {
    font-size: toVw(20px);
    margin-bottom: toVw(5px);
  }
  select {
    border: toVw(1px) solid #0067a4;
    border-radius: toVw(7px);
    padding: toVw(10px) toVw(5px);
    font-size: toVw(15px);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    option {
      text-align: left;
      padding: toVw(10px) toVw(5px);
      font-size: toVw(15px);
    }
  }
  .error-container {
    height: toVw(25px);
  }
}
